.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}


body{
    margin: 0;
}

header{
    background-image: url("../assets/images/terraPage.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 10px 0 40px;
    height: 450px;
    color: #A8AFCB;
    margin: 0;
}

#infosTerra h1{
    font-family: "Berkshire Swash", serif;
    font-weight: bold;
    font-size: 145px;
    text-shadow: 0 0 4px rgb(53, 59, 65);
    margin: 0px;
}


#infosTerra p{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    text-shadow: 0 2px 4px rgb(17, 16, 16);
    color: #A8AFCB;
    margin: 0px;
}

main{
    margin: 2px 0 2px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: #f0f0fd;
}

main #coisasDaTerra{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

main #imgPlaneta{
    padding: 10px;
    margin-top: 25px;
}

.infoTopo, .infoCentro, .infoBaixo{
    text-align: center;
    padding: 10px;
    margin: 3px;
    font-family: "Playfair Display", serif;
    color: #2B3259;
}

.infoTopo h3, .infoCentro h3, .infoBaixo h3{
    font-size: 28px;
    border-radius: 4px;
    background-color: #a8afcb;
}

.infoTopo p, .infoCentro p, .infoBaixo p{
    font-size: 18px;
}
